<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    Name: <%=req.body.firstName%><br><br>
    LastName: <%=req.body.lastName%><br><br>
    Id: <%=req.body.id%>
</body>
</html>



