<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
Job: <%=req.body.job%><br><br>
Branch: <%=req.body.branch%><br><br>
Food: <%=req.body.food  %>
</body>
</html>



