body{
    background: lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

#content{
    display: flex;
    margin: 50px 200px 200px 50px;
}

#text{
    column-count: 3;
}

#deer{
    float: left;
    margin: 5px;
   height: 250px;
    width: 250px;
}

#headerImage{
    width: 300px;
    height: 200px;
    border-radius: 30px;
    transform: rotate(5deg);
    box-shadow: 10px 10px;

}

.pquote {
    float: left;
    width: 200px;
    background: lightblue;
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
    margin: 10px;
}

blockquote {
    margin: 0;
}

.pquote p:first-letter {
    font-size: 39px;
    font-weight: bold;
}