body{
    background: lightslategrey;
    display: grid;
}
h1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr;
    align-self: center;
justify-self: center
}
#headerImage{
    width: 300px;
    height: 200px;
    border-radius: 30px;
    transform: rotate(5deg);
    box-shadow: 10px 10px;
}
#content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 50px 200px 200px 50px;
}

#text{
    columns: 3;
}
@media only screen and (max-width: 1250px){
    #text{
        columns: 2;
    }
}
@media only screen and (max-width: 985px){
    #text{
        columns: 1;
    }
}
@media only screen and (max-width: 800px) {
    #content {
        display: flex;
        flex-direction: column;
    }

    #galeryOnTheLeft {
        order: 2;
    }
}
#deer{
    float: left;
    margin: 5px;
    height: 250px;
    width: 250px;
}

.pquote {
    float: left;
    width: 200px;
    background: lightblue;
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
    margin: 10px;
}

blockquote {
    margin: 0;
}

.pquote p:first-letter {
    font-size: 39px;
    font-weight: bold;
}